@import "./../../../styles/variables";

section {
  > div {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    > div {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      padding: 4px 0px;
      p {
        font-size: 24px;
        font-weight: 600;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid $accent_1;
      }
      .ok {
        border: 1px solid $accent_3;
      }
      .use {
        border: 2px solid $accent_4;
      }
    }
  }
}

@media (max-width: $tablet_breakpoint) {
  section {
    > div {
      > div {
        justify-content: center;
      }
    }
  }
}