$background: #233D4D;
$text: #FFFFFF;
$primary_1: #D8E4DD;
$primary_2: #1F1F1F;
$primary_3: #155831;
$secondary_1: #E6DFC5;
$secondary_2: #0E1515;
$accent_1: #EFF424;
$accent_2: #991A1A;
$accent_3: #45E2EF;
$accent_4: #366e4c;

$width_maximum: 1400px;
$tablet_breakpoint: 960px;
$large_screen_breakpoint: 1920px;
