@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import './styles/variables';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main {
  font-family: "Quicksand", sans-serif;
  max-width: 100dvw;
  display: flex;
  flex-direction: row;
  background: $background;
  color: $text;
  overflow-x: hidden;
}

@media (max-width: $tablet_breakpoint) {
  main {
    flex-direction: column;
  }
}

@media (min-width: $tablet_breakpoint) {

  main {
    max-height: 100dvh;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background: $background;
  }
  
  ::-webkit-scrollbar-thumb {
    background: $accent_3;
  }
}

.arrow {
  :hover {
    transform: translateX(4px) translateY(-4px) scale(1.1);
    transition: all 0.2s;
  }
}